# Pandas' a Giriş

Pandas öğrenmeye niyetlendiyseniz büyük ihtimal daha önce bir çok farklı veri (sayı, metin, liste, tablo,  resim) ve dosya tipi (xlsx, txt, csv, db, sav ... gibi uzantılar) tipi ile karşılaşmışsınızdır. Karşılaşmadıysanız da veri analizi sürecinde bunlarla sık sık karşılaşacağınızı ve bunların neler olduğunu temel seviyede bilmeniz gerektiğiniz bilmelisiniz. Dolayısıyla buradan sonra ilk bahsettiğim birisine anlatıyormuşum gibi devam ediyorum; Bu şekilde farklı tiplerle çalıştıysanız tablo ve dizi yapısının çok yoğun kullanıldığını da görmüşsünüzdür. İster Excel gibi bir kullanımı basit elektronik tablo programı, ister MySQL gibi bir ilişkisel veri tabanı ister SPSS gibi istatistik analiz programı ile haşır neşir olun satır-sütun yapısının kaçınılması zor bir yapı olduğunu görmüşsünüzdür. (NoSQL-GraphQl gibi yapılar ile kaçılabilir fakat şimdilik konumuz değil)

Satır sütun yapısı hepsinde benzer şekildedir fakat içeriğine girildiğinde her birinin kendine has kullanım şekilleri vardır. Farklı dosya tipleri barındıran bir projede çalışıyorsanız devamlı programlar ve metodlar arası geçiş yapmak oldukça zorlayıcı olacaktır. Bu noktada tüm tablo işleme programlarına hükmedecek tek bir programa ihtiyacınız doğduğunu, en azından hepsini tek bir potada eritebileceğiniz bir yapıya ihtiyacınız olduğu gözünüze çarpmıştır. 

Şimdi içine dalış yapacağımız Python kütüphanesi tam da bu noktada ortaya çıkmıştır. Bir grup geliştirici veri dağlarının eteklerinde karanlıklar içinde (programcılar gece çalışmayı severler) Pandas kütüphanesini kodladılar. Bu kütüphane sayesinde tüm tablo tipi verileri Python dünyasının içine çekip tüm tablo verileri için aynı ve oldukça basit fonksiyonlar ile işleyebilmemizi sağlamaktadır.

Karanlık diyarlardan uzaklaşıp biraz daha Pandas' ın yeteneklerini biraz daha açmak gerekirse veri setlerini sanki elle tutulur gibi işlemenizi sağlar: Veriler üzerinde hızla kesme, biçme ve dönüştürme işlemleri yapabilir, eksik verileri temizleyebilir veya farklı veri kaynaklarından gelen bilgileri kolayca birleştirebilirsiniz. Bunu mümkün kılan ise Pandas'ın temel veri yapıları olan Series ve DataFrame'dir. Series, tek boyutlu ve etiketli bir veri dizisidir; DataFrame ise bu serilerin bir araya gelmesiyle oluşan iki boyutlu bir veri tablosudur, tıpkı diğer programlarda olduğu gibi.

Bir Pandas DataFrame'i, her bir sütunu farklı veri tipleri içerebilen ve satırlar ile sütunlar şeklinde düzenlenmiş bir veri seti olarak düşünebilirsiniz. İşte bu yapı, veri analizlerinizde size Excel tablolarını andıran bir esneklik sunarken, programatik gücüyle de çok daha karmaşık veri işleme görevlerini üstlenebilir. Örneğin, bir satış raporu datasını analiz ederken, belirli kriterlere göre satışları gruplayabilir, toplam satış miktarları gibi hesaplamalar yapabilir veya zamana göre değişimleri gözlemleyebilirsiniz.

Pandas, veri setleriniz üzerinde tam kontrol sağlayarak, veri analizi sürecinizi baştan sona kadar destekler. Veri yüklemek, işlemek, manipüle etmek ve sonuçları görselleştirmek için ihtiyacınız olan her şeyi bir arada sunar. Bu kapsamlı özellikler sayesinde Pandas hem eğitim hem de profesyonel çalışmalarda önemli bir yer tutmaktadır. Eğer verilerle iç içe bir çalışma yapıyorsanız, Pandas sizi Verilerin Efendisi yapacaktır.

## Series

Pandas serileri, temel veri yapılarından biridir. Bir Pandas serisi, tek boyutlu etiketli bir dizidir. Bu dizi her türlü veri türünü (tam sayılar, stringler, floating point sayılar, Python objeleri vb.) içerebilir ve her bir veri noktası bir indeks ile ilişkilendirilir. Bu indeks varsayılan olarak 0'dan başlayan sayısal indekslerdir, ancak zaman damgaları gibi özel indeksler veya stringler (dict yapısı) gibi başka türden etiketler de kullanılabilir.

Standart liste üzerinden bir Pandas Series objesi oluşturulabilir.

In [ ]:
import pandas as pd  

std_list = [1, 2, 3, 4]

pd_series = pd.Series(std_list)

print(pd_series)

In [ ]:
print(type(std_list))
print(type(pd_series))

pd_series[0]

Pandas serileri sözlük yapısı şeklinde de kullanılabilir.

In [ ]:
import pandas as pd

std_list = [1, 2, 3, 4]
keys = ["a", "b", "c", "d"]

pd_series = pd.Series(std_list, index=keys)

print(pd_series)

In [ ]:
import pandas as pd 

std_dict = {"a" : 1, "b" : 2, "c" : 3, "d": 4}
pd_series = pd.Series(std_dict)

print(pd_series)
print()
print(pd_series["a"])

In [ ]:
import pandas as pd


std_list = [1, 2, 3, "a"]

pd_series = pd.Series(std_list)
print(pd_series)

In [ ]:
import pandas as pd

std_dict = {"a" : 1, "b" : 2, "c" : 3, "d": 4}

pd_series = pd.Series(std_dict, index= ["a", "c"])

print(pd_series)
print(pd_series["a"])

### Fonksiyonlar

Pandas serilerinde kullanılan bazı temel fonksiyonlar aşağıda verilmiştir. (Bu fonksiyonların çoğu ufak değişiklikler ile DataFrame yapılarında da kullanılabilir.)

**Temel istatistikler**:
   - `mean()`: Ortalama değeri hesaplar.
   - `median()`: Medyan değeri hesaplar.
   - `sum()`: Serideki değerlerin toplamını hesaplar.
   - `max()`: Serideki maksimum değeri döner.
   - `min()`: Serideki minimum değeri döner.
   - `std()`: Standart sapmayı hesaplar.
   - `var()`: Varyansı hesaplar.

In [ ]:
import pandas as pd

veri = pd.Series([10, 20, 30, 40, 50, 10, 20, 30, 40, 50])


ortalama = veri.mean()
medyan = veri.median()
toplam = veri.sum()
maksimum = veri.max()
minimum = veri.min()
standart_sapma = veri.std()
varyans = veri.var()


print("ortalama         :", ortalama)
print("medyan           :", medyan)
print("toplam           :", toplam)
print("maksimum         :", maksimum)
print("minimum          :", minimum)
print("standart sapma   :", standart_sapma)
print("varyans          :", varyans)

**Veri dönüştürme**:
   - `abs()`: Serideki tüm değerlerin mutlak değerini hesaplar.
   - `round()`: Serideki sayısal değerleri belirli bir basamağa kadar yuvarlar.
   - `astype()`: Serinin veri tipini değiştirir.

In [ ]:
import pandas as pd
veri = pd.Series([-1.987, 2.456, -3.125, 4.567, -5.678])

# Mutlak değer hesaplama
mutlak_degerler = veri.abs()

# Yuvarlama işlemi (2 basamak)
yuvarlanmis_degerler = veri.round(2)

# Veri tipini değiştirme (float'dan integer'a)
tamsayi_degerler = veri.astype(int)

# Sonuçları yazdır
print("--------------------------------------------")
print("Mutlak Değerler")
print(mutlak_degerler)
print("--------------------------------------------")
print("Yuvarlanmış Değerler")
print(yuvarlanmis_degerler)
print("--------------------------------------------")
print("Tam Sayı Değerler")
print(tamsayi_degerler)
print("--------------------------------------------")

**Filtreleme ve sorgulama**:

   - `where()`: Koşullara göre serideki değerleri filtreler, koşulu karşılamayanları belirli bir değer ile değiştirebilir.
   - `isin()`: Serinin elemanlarının, belirli bir değer listesinde olup olmadığını döner.

In [ ]:
import pandas as pd

veri = pd.Series([10, 20, 30, 40, 50, 60, 70, 80, 90, 100])

# Mantıksal filtreleme
filtrelenmis_veri = veri[veri > 50]  # 50'den büyük değerleri filtrele

# where(): Koşulu karşılamayanları NaN ile değiştir
where_filtrelenmis_veri = veri.where(veri > 50)

# isin(): Belirli bir değer listesinde olup olmadığını kontrol et
isin_filtrelenmis_veri = veri.isin([20, 50, 80])

# Sonuçları yazdır
print("--------------------------------------------")
print("Filtrelenmiş Veri:")
print(filtrelenmis_veri)
print("--------------------------------------------")
print("Where ile Filtrelenmiş Veri:")
print(where_filtrelenmis_veri)
print("--------------------------------------------")
print("isin() ile Filtrelenmiş Veri:")
print(isin_filtrelenmis_veri)
print("--------------------------------------------")

#### filter()

Pandas serilerinde `.filter()` fonksiyonu, serideki belirli indeksleri seçmek için kullanılır fakat DataFrame yapılarındaki kadar işlevsel değildir.  
`.filter()` fonksiyonunun parametreleri:

1. **items**: Seçmek istediğiniz indekslerin listesi. Bu, serideki belirli indeksleri belirtmek için kullanılır.
2. **like**: İndeks isimlerinin içermesi gereken belirli bir string. Bu, indeks isimlerinde belirli bir deseni aramak için kullanılır.
3. **regex**: İndeksleri seçmek için kullanılabilecek düzenli ifade (regex). Bu, indeks isimlerinde belirli bir desene uyanları seçmek için kullanılır.

In [ ]:
# items parametresi
import pandas as pd

ps = pd.Series(range(10), index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
filtered_ps = ps.filter(items=['a', 'c', 'g'])
print(filtered_ps)

In [ ]:

# like parametresi

import pandas as pd

ps = pd.Series(range(12), index=[
    'ocak', 'şubat', 'mart', 'nisan', 
    'mayıs', 'haziran', 'temmuz', 'ağustos', 
    'eylül', 'ekim', "kasım", "aralık"
    ])
filtered_ps = ps.filter(like='e' or "k")
print(filtered_ps)

## Dataframe


Birden fazla serinin yan yana gelerek oluşturduğu tablo tipi veri.

In [ ]:
import pandas as pd

list1 = [111, 222, 333]
list2 = [444, 544, 666]

df = pd.DataFrame( {"sütun_1": list1, "sütun_2": list2}, index= ["satır_1", "satır_2", "satır_3"])
print(df)

In [ ]:
print(df['sütun_1'])  # 'sütun_1' adlı sütunu seçer

In [ ]:
print(df[['sütun_1', 'sütun_2']])  # 'sütun_1' ve 'sütun_2' adlı sütunları seçer

In [ ]:
print(df.loc['satır_1'])  # 'satır_1' adlı satırı seçer

In [ ]:
print(df.loc['satır_1', 'sütun_1'])  # 'satır_1' satırındaki 'sütun_1' sütununun değerini seçer

In [ ]:
# 'satır_1' ve 'satır_2' satırlarını ve 'sütun_1', 'sütun_2' sütunlarını seçer
print(df.loc[['satır_1', 'satır_2'], ['sütun_1', 'sütun_2']])

In [ ]:
# 'satir_2' ye kadar olan satırları seçmek için dilimleme işlemi yapılabilir.
print(df.loc[:'satır_2', :])

In [ ]:
# df["yeni_sütun_adi"] ile yeni sütun eklenebilir.
df["sütun_3"] = pd.Series([777, 888, 999], index= ["satır_1", "satır_2", "satır_3"])
print(df)

*drop()* fonksiyonu ile istenen satır veya sütun silinebilir.
- axis= 1 ile sütunlar, axis= 0 ile satırlar seçilir
- inplace= True denirse orijinal df değiştirilir, varsayılanda değişim olmaz sadece görüntüsünü alır.

In [ ]:
df.drop("sütun_2", axis= 1, inplace=)

In [ ]:
df.drop("satır_2", axis= 0)

# Okuma

In [89]:
import pandas as pd
# kaynak: https://www.kaggle.com/datasets/adhurimquku/ford-car-price-prediction
df  = pd.read_csv("dataset/ford.csv")

print(df)

         model  year  price transmission  mileage fuelType  tax   mpg  \
0       Fiesta  2017  12000    Automatic    15944   Petrol  150  57.7
1        Focus  2018  14000       Manual     9083   Petrol  150  57.7
2        Focus  2017  13000       Manual    12456   Petrol  150  57.7
3       Fiesta  2019  17500       Manual    10460   Petrol  145  40.3
4       Fiesta  2019  16500    Automatic     1482   Petrol  145  48.7
...        ...   ...    ...          ...      ...      ...  ...   ...
17961    B-MAX  2017   8999       Manual    16700   Petrol  150  47.1
17962    B-MAX  2014   7499       Manual    40700   Petrol   30  57.7
17963    Focus  2015   9999       Manual     7010   Diesel   20  67.3
17964       KA  2018   8299       Manual     5007   Petrol  145  57.7
17965    Focus  2015   8299       Manual     5007   Petrol   22  57.7

       engineSize
0             1.0
1             1.0
2             1.0
3             1.5
4             1.0
...           ...
17961         1.4
17962         1.0
17963         1.6
17964         1.2
17965         1.0

[17966 rows x 9 columns]

df' yi doğrudan yazdırmak görsel karmaşaya sebep olabilir. Bu sebeple ilk 5 (veya istenen sayıda) elemanı yazdırmak için *head()* fonksiyonu kullanılır.

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
import pandas as pd
dosya_yolu = "dataset/excel.xlsx"
sayfa_adi = "Sheet2" 

df  = pd.read_excel(dosya_yolu, sayfa_adi)

df.head()

# Filtreleme
Pandas'da filtreleme ve sorgulama işlemleri, veri setlerinden belirli koşulları karşılayan verileri seçmek için kullanılır. Bu işlemler, veri analizi sürecinde veri kümesini daraltmak, ilgili verileri çekmek ve istenmeyen verileri elemek için oldukça önemlidir. İşte Pandas'da kullanılan bazı temel filtreleme ve sorgulama yöntemleri:

### 1. Boolean Indexing
Munpy array veya Pandas series yapılarındaki ile benzer şekilde çalışır. Bir koşula bağlı olarak doğru (`True`) veya yanlış (`False`) değerler üreten bir boolean ifade kullanır. Sonuç olarak, doğru (`True`) değerleri karşılayan satırlar seçilir.

In [90]:
import pandas as pd
df  = pd.read_csv("dataset/ford.csv")
mantiksal_filtreli = df[df["mileage"] < 70000]
mantiksal_filtreli.head()

     model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0   Fiesta  2017  12000    Automatic    15944   Petrol  150  57.7         1.0
1    Focus  2018  14000       Manual     9083   Petrol  150  57.7         1.0
2    Focus  2017  13000       Manual    12456   Petrol  150  57.7         1.0
3   Fiesta  2019  17500       Manual    10460   Petrol  145  40.3         1.5
4   Fiesta  2019  16500    Automatic     1482   Petrol  145  48.7         1.0


### 2. `isin()` Metodu
Bu metod, bir sütundaki değerlerin, belirli bir değer listesi içerisinde olup olmadığını kontrol eder. Listede yer alan değerler için `True`, diğer durumlar için `False` döner.

In [94]:
kategoriler = [" Focus", " Fiesta"] # verilerde model isimlerinden önce bir boşluk var.
kategorik_secim = df[df["model"].isin(kategoriler)]
kategorik_secim.head()

     model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0   Fiesta  2017  12000    Automatic    15944   Petrol  150  57.7         1.0
1    Focus  2018  14000       Manual     9083   Petrol  150  57.7         1.0
2    Focus  2017  13000       Manual    12456   Petrol  150  57.7         1.0
3   Fiesta  2019  17500       Manual    10460   Petrol  145  40.3         1.5
4   Fiesta  2019  16500    Automatic     1482   Petrol  145  48.7         1.0

### 3. `query()` Metodu
Bu metod, SQL sorgusu tipinde str ifadeler ile filtreleme yapabilmenizi. Bu, daha okunaklı ve daha az karmaşık sorgular yazmayı mümkün kılar.

In [98]:
# 2018' den eski araçlardan 120000 milden fazla veya 5000 milden az yol yapmış olnaların listelenmesi. 
df_sorgu = df.query('year < 2018 and (mileage  > 120000 or mileage < 5000)')
df_sorgu.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
173,Kuga,2017,16995,Automatic,3700,Petrol,145,38.2,1.5
178,Fiesta,2017,11798,Manual,4262,Petrol,0,65.7,1.0
268,Focus,2017,13998,Semi-Auto,4735,Petrol,125,51.4,1.0
368,Grand Tourneo Connect,2017,13998,Manual,4856,Diesel,145,61.4,1.5
369,B-MAX,2017,11298,Semi-Auto,1397,Petrol,165,44.1,1.6

Tüm araçların fiyat ve mil ortalamalarını hesaplayalım.

In [99]:
df_fiyat = df["price"]
df_mil = df["mileage"]
print("Fiyat ortalama:", df_fiyat.mean())
print("Mil ortalama:", df_mil.mean())

Fiyat ortalama: 12279.534843593454
Mil ortalama: 23362.608760992985

In [102]:
# Birden fazla sütunun ortalaması aynı anda hesaplanabilir.
df_fiyat_mil = df[["price", "mileage"]]
print(df_fiyat_mil.mean())

price      12279.534844
mileage    23362.608761
dtype: float64

2017 ve üstü araçların fiyat ortalaması

In [104]:
# 2017 ve üstü araçların olduğu yeni df
# df["year"] > 2017 komutu mantıksal liste oluşturur.
df_2017_ust = df[df["year"] >= 2017]

df_2017_ust.head()

     model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0   Fiesta  2017  12000    Automatic    15944   Petrol  150  57.7         1.0
1    Focus  2018  14000       Manual     9083   Petrol  150  57.7         1.0
2    Focus  2017  13000       Manual    12456   Petrol  150  57.7         1.0
3   Fiesta  2019  17500       Manual    10460   Petrol  145  40.3         1.5
4   Fiesta  2019  16500    Automatic     1482   Petrol  145  48.7         1.0

In [109]:

print("--------------------------------------------")
df_fiyat = df_2017_ust["price"]
print(df_fiyat.head())
print("--------------------------------------------")
print("Ortalama =", df_fiyat.mean())
print("--------------------------------------------")

--------------------------------------------
0    12000
1    14000
2    13000
3    17500
4    16500
Name: price, dtype: int64
--------------------------------------------
Ortalama = 13884.555402670983
--------------------------------------------